schema_1111.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <!-- MACROS -->
    <define name="macro.paraContent">
        <zeroOrMore>
            <choice>
                <text/>
                <ref name="model.phrase"/>
                <ref name="model.inter"/>
                <ref name="model.global"/>
            </choice>
        </zeroOrMore>
    </define>
    <!-- ATTRIBUTE CLASSES AND DEFINITIONS -->
    <!-- global attributes -->
    <define name="att.global.attributes">
        <ref name="att.global.rendition.attributes"/>
        <!--<ref name="att.global.linking.attributes"/>-->
        <ref name="att.global.responsibility.attributes"/>
        <ref name="att.global.attribute.xmlid"/>
        <ref name="att.global.attribute.n"/>
    </define>
    <define name="att.global.linking.attributes">
        <ref name="att.global.linking.attribute.corresp"/>
        <ref name="att.global.linking.attribute.next"/>
        <ref name="att.global.linking.attribute.prev"/>
    </define>
    <define name="att.global.linking.attribute.corresp">
        <optional>
            <attribute name="corresp">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >(corresponds) points to elements that correspond to the current element in some
                    way.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.linking.attribute.next">
        <optional>
            <attribute name="next">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >points to the next element of a virtual aggregate of which the current element
                    is part.</a:documentation>
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.linking.attribute.prev">
        <optional>
            <attribute name="prev">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >(previous) points to the previous element of a virtual aggregate of which the
                    current element is part.</a:documentation>
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.attribute.xmlid">
        <optional>
            <attribute name="xml:id">
                <a:documentation>(identifier) provides a unique identifier for the element bearing
                    the attribute.</a:documentation>
                <data type="ID"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.attribute.n">
        <optional>
            <attribute name="n">
                <a:documentation>(number) gives a number (or other label) for an element, which is
                    not necessarily unique within the document.</a:documentation>
                <data type="string"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.rendition.attributes">
        <ref name="att.global.rendition.attribute.style"/>
    </define>
    <define name="att.global.rendition.attribute.style">
        <optional>
            <attribute name="style">
                <a:documentation>(style) indicates how the element in question should be rendered or
                    presented in the output text.</a:documentation>
                <list>
                    <oneOrMore>
                        <value>italic</value>
                        <value>underline</value>
                        <value>bold</value>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.responsibility.attributes">
        <ref name="att.global.responsibility.attribute.who"/>
    </define>
    <define name="att.global.responsibility.attribute.who">
        <optional>
            <attribute name="who">
                <a:documentation>(who) indicates the party responsible for the intervention or
                    interpretation, for example an instructor or peer reviewer. Be sure to use your
                    xml:id</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>

    <!-- for @type and @subtype -->
    <define name="att.typed.attributes">
        <ref name="att.typed.attribute.type"/>
        <!--<ref name="att.typed.attribute.subtype"/>-->
    </define>
    <define name="att.typed.attribute.type">
        <optional>
            <attribute name="type">
                <a:documentation>characterizes the element in some sense, using any convenient
                    classification scheme or typology.</a:documentation>
            </attribute>
        </optional>
    </define>
    <define name="att.typed.attribute.subtype">
        <optional>
            <attribute name="subtype">
                <a:documentation>provides a sub-categorization of the element, if
                    needed</a:documentation>
            </attribute>
        </optional>
    </define>

    <!-- for URLs -->
    <define name="att.resourced.attributes">
        <ref name="att.resourced.attribute.url"/>
    </define>
    <define name="att.resourced.attribute.url">
        <attribute name="url">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform
                resource locator) specifies the URL from which the media concerned may be
                obtained.</a:documentation>
            <data type="anyURI"/>
        </attribute>
    </define>
    <!-- other attributes -->
    <define name="att.source">
        <attribute name="source">
            <a:documentation>provides a pointer to the bibliographical source from which a quotation
                or citation is drawn.</a:documentation>
            <list>
                <oneOrMore>
                    <data type="anyURI"/>
                </oneOrMore>
            </list>
        </attribute>
    </define>
    <define name="att.review.type">
        <optional>
            <attribute name="type">
                <a:documentation>(type of reviewer) suggested values are 'peer' or
                    'instructor'</a:documentation>
                <choice>
                    <value>peer</value>
                    <value>instructor</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <!-- CONTENT MODELS -->
    <define name="model.global">
        <choice>
            <ref name="model.noteLike"/>
            <!--<ref name="figure"/> hold off on figure for now-->
        </choice>
    </define>
    <define name="model.divLike">
        <ref name="div"/>
    </define>
    <define name="model.divPart">
        <choice>
            <ref name="model.pLike"/>
        </choice>
    </define>
    <define name="model.pLike">
        <choice>
            <ref name="p"/>
        </choice>
    </define>
    <define name="model.noteLike">
        <ref name="note"/>
    </define>
    <define name="model.biblLike">
        <choice>
            <ref name="bibl"/>
            <ref name="listBibl"/>
        </choice>
    </define>
    <define name="model.phrase">
        <choice>
            <ref name="citation"/>
            <ref name="style"/>
        </choice>
    </define>
    <define name="model.inter">
        <choice>
            <ref name="model.listLike"/>
            <ref name="model.qLike"/>
        </choice>
    </define>
    <define name="model.listLike">
        <ref name="list"/>
    </define>
    <define name="model.qLike">
        <ref name="q"/>
    </define>

    <!-- GENRE ANALYSIS ESSAY ELEMENT DEFINITIONS -->
    <define name="model.essay">
        <oneOrMore>
            <choice>
                <ref name="claim"/>
                <ref name="pattern"/>
                <ref name="p"/>
            </choice>
        </oneOrMore>
    </define>
    <define name="claim">
        <element name="claim">
            <a:documentation>(interpretive claim) indicates a claim made based on evidence presented or to be presented in an essay [requires @type attribute]</a:documentation>
            <oneOrMore>
                <choice>
                    <ref name="macro.paraContent"/>
                    <ref name="model.essay"/>
                </choice>
            </oneOrMore>
            <ref name="att.typed.attribute.type"/>
        </element>
    </define>
    <define name="pattern">
        <element name="pattern">
            <a:documentation>(generic pattern) indicates an identifiable trait, characteristic,
                and/or example of a pattern within a genre [requires @type
                attribute]</a:documentation>
            <oneOrMore>
                <choice>
                    <ref name="macro.paraContent"/>
                    <ref name="model.essay"/>
                </choice>
            </oneOrMore>
            <attribute name="type">
                <choice>
                    <value>format</value>
                    <data type="token">
                        <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                    </data>
                </choice>
            </attribute>
        </element>
    </define>


    <!-- GENERAL ELEMENT DEFINITIONS -->
    <define name="note">
        <element name="note">
            <a:documentation>contains a note made on the text intended to provide additional
                information or comment upon the text [requires @type attribute and suggested @who
                attribute]</a:documentation>
            <optional>
                <ref name="att.global.attributes"/>
            </optional>
            <attribute name="type">
                <a:documentation>must specify whether the note is @type peer or
                    instructor</a:documentation>
                <choice>
                    <value>peer</value>
                    <a:documentation>this note is written from a peer</a:documentation>
                    <value>instructor</value>
                    <a:documentation>this note is from the instructor</a:documentation>
                </choice>
            </attribute>
            <text/>
        </element>
    </define>
    <define name="style">
        <element name="style">
            <a:documentation>(style/rendition) indicates a segment of text that should be styled in
                a particular way that is otherwise not marked up [required @type attribute e.g.,
                'italics', 'bold', 'underline']</a:documentation>
            <ref name="macro.paraContent"/>
            <attribute name="type">
                <choice>
                    <value>italics</value>
                    <value>bold</value>
                    <value>underline</value>
                    <data type="token">
                        <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                    </data>
                </choice>
            </attribute>
        </element>
    </define>
    <define name="bibl">
        <element name="bibl">
            <a:documentation>(bibliographic citation) contains a bibliographic
                citation</a:documentation>
            <zeroOrMore>
                <choice>
                    <ref name="macro.paraContent"/>
                </choice>
            </zeroOrMore>
            <ref name="att.global.attribute.xmlid"/>
            <empty/>
        </element>
    </define>
    <define name="listBibl">
        <element name="listBibl">
            <a:documentation>(bibliographic list) contains a list of bibliographic
                citations</a:documentation>
            <choice>
                <oneOrMore>
                    <choice>
                        <ref name="model.biblLike"/>
                    </choice>
                </oneOrMore>
            </choice>
            <!-- <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>  -->
        </element>
    </define>
    <define name="q">
        <element name="q">
            <a:documentation>(quote) indicates quoted text; for quoted material, should be
                accompanied by a citation element</a:documentation>
            <ref name="macro.paraContent"/>
            <optional>
                <ref name="att.typed.attribute.type"/>
            </optional>
        </element>
    </define>
    <define name="item">
        <element name="item">
            <a:documentation>(item) a member of a list</a:documentation>
            <ref name="macro.paraContent"/>
        </element>
    </define>
    <define name="list">
        <element name="list">
            <a:documentation>(list) a group of item elements</a:documentation>
            <oneOrMore>
                <ref name="item"/>
            </oneOrMore>
        </element>
    </define>
    <define name="citation">
        <element name="citation">
            <a:documentation>(in-text citation) an in-text citation [requires @source attribute
                corresponding to the @xml:id of a bibl element]</a:documentation>
            <text/>
            <ref name="att.source"/>
        </element>
    </define>
    <define name="author">
        <element name="author">
            <a:documentation>author of text</a:documentation>
            <text/>
            <ref name="att.global.attribute.xmlid"/>
        </element>

    </define>
    <define name="title">
        <element name="title">
            <a:documentation>title of document or section, where appropriate</a:documentation>
            <text/>
        </element>
    </define>
    <define name="date">
        <element name="date">
            <a:documentation>date of publication or composition</a:documentation>
            <text/>
        </element>
    </define>
    <define name="p">
        <element name="p">
            <a:documentation>(paragraph) a division of text indicating a
                paragraph.</a:documentation>
            <zeroOrMore>
                <choice>
                    <ref name="macro.paraContent"/>
                    <ref name="model.essay"/>
                </choice>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
        </element>
    </define>
    <define name="div">
        <element name="div">
            <a:documentation>(division of text) arbitrary division of text [optional @title
                element]</a:documentation>
            <zeroOrMore>
                <choice>
                    <ref name="model.divPart"/>
                    <ref name="model.inter"/>
                </choice>
            </zeroOrMore>
            <optional>
                <ref name="att.typed.attribute.type"/>
                <attribute name="title">
                    <a:documentation>title of the textual division (e.g. Introduction, Conclusion,
                        etc.)</a:documentation>
                    <text/>
                </attribute>
            </optional>
        </element>
    </define>
    <define name="reviewer">
        <element name="reviewer">
            <a:documentation>name of reviewer [requires @type attribute (value of either
                'instructor' or 'peer') and @xml:id equal to reviewer's ID]</a:documentation>
            <optional>
                <text/>
            </optional>
            <ref name="att.review.type"/>
            <ref name="att.global.attribute.xmlid"/>
        </element>
    </define>
    <define name="report">
        <element name="report">
            <a:documentation>(report) a report on the text by someone other than the document author
                [requires @type attribute (value of either 'instructor' or 'peer') and @who
                attribute equal to corresponding @xml:id)</a:documentation>
            <zeroOrMore>
                <choice>
                    <ref name="model.divPart"/>
                    <ref name="model.inter"/>
                </choice>
            </zeroOrMore>
            <ref name="att.review.type"/>
            <ref name="att.global.responsibility.attribute.who"/>
        </element>
    </define>
    <define name="docReview">
        <element name="docReview">
            <a:documentation>(document review section) section of document where peer review and
                instructor reports are located</a:documentation>
            <oneOrMore>
                <choice>
                    <ref name="model.global"/>
                    <group>
                        <ref name="reviewer"/>
                        <ref name="report"/>
                    </group>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="docFoot">
        <element name="docFoot">
            <a:documentation>(document footer) footer for essay; contains a title element and a list
                of bibliographic citations.</a:documentation>
            <ref name="title"/>
            <ref name="model.biblLike"/>
        </element>
    </define>
    <define name="body">
        <element name="body">
            <a:documentation>main body for essay; contains one or more div
                elements</a:documentation>
            <zeroOrMore>
                <ref name="model.divLike"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="docHead">
        <element name="docHead">
            <a:documentation>(document header) contains metadata about the document (title, author,
                date)</a:documentation>
            <group>
                <interleave>
                    <ref name="title"/>
                    <ref name="author"/>
                    <ref name="date"/>
                    <zeroOrMore>
                        <ref name="model.global"/>
                    </zeroOrMore>
                </interleave>
            </group>
        </element>
    </define>
    <define name="essay">
        <element name="essay">
            <a:documentation>container element for essay genre</a:documentation>
            <group>
                <ref name="docHead"/>
                <ref name="body"/>
                <optional>
                    <ref name="docFoot"/>
                </optional>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
        </element>
    </define>
    <define name="DOC">
        <element name="DOC">
            <a:documentation>root element for all ENGW1111 assignments</a:documentation>
            <ref name="essay"/>
            <zeroOrMore>
                <ref name="docReview"/>
            </zeroOrMore>
        </element>
    </define>

    <start>
        <ref name="DOC"/>
    </start>
</grammar>
